body {
    height: 100vh;
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    background-repeat: no-repeat;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

h6 {
  margin-left: 8%;
  font-family: "Comic Sans MS", "Comic Sans", cursive !important;
  font-size: 30px !important;
  margin-top: 20px !important;
}


/* NAVBAR */
.hamburguer-menu {
  position: absolute;
}

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 999;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 180px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: rgba(225, 225, 225, 0.7);
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
  z-index: 1;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  background-color: #01A1F9;
  border-bottom: 4px solid black;
}

.menu__item:hover {
  background-color: #CFD8DC;
}

#stop-btn:hover {
  background-color: red;
}

#stop-btn-butterfly:hover {
  background-color: rebeccapurple;
}



#clauSol {
  font-size: 50px;
  display: block;
  padding: 12px 24px;
  color: #333;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
  background-color: transparent;
}

.imatgeCercle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 5%;
    overflow: hidden;
    background-color: rgba(205, 205, 205, .7);
  }
  
.imatgeCercle img {
  width: 100%;
  height: auto;
  display: block;
}

/* CERCLES */


.cercle {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 5px solid white;
  font-weight: bold;
}

.cercle p {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  text-align: center;
  color: white;
  font-size: 40px;
}

.cerclePuntuacio p {
  transform: translateX(42%);
}

.cercleNotaPrincipal {
  position: absolute;
  width: 10%;
  top: 7%;
  left: 40%;
  background-color: #FF8000;
}

.cercleNotaPrincipal p {
  font-size: 50px;
}

.cercleNotaSecundaria {
  position: absolute;
  width: 7%;
  top: 10%;
  color: red;
}

.cercleNotaSecundaria p {
  font-size: 35px;
}

.secundaria1 {
  left: 20%;
  background-color: #FF0000;
}

.secundaria2 {
  left: 64%;
  background-color: #FFDD00;
}

.cerclePuntuacio {
  position: absolute;
  top: 5%;
  right: 8%;
  width: 12%;
  background-color: #01A1F9;
  text-align: center;
}

.cerclePuntuacio img {
  aspect-ratio: 1/1;
  height: 50%;
  transform:  translate(10px, 100px) rotate(-70deg);
}

.cerclePuntuacioRecord {
  position: absolute;
  top: 80%;
  right: 10%;
  width: 8%;
  background-color: #2AF598;
}

.cerclePuntuacioRecord span {
  font-size: 60px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/* XILOFON */

.xilofon {
  position: absolute;
  top: 60%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 85%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tecla {
  height: 60%;
  width: 11%;
  border-radius: 20px;
  border: 5px solid white;
  transform-origin: left top;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.3s ease-in-out;
} 

.tecla:active {
  filter: brightness(400%);
}


.tecla p {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-size: 40px;
  color: white;
  font-weight: bold;
}

.primeraTecla {
  height: 80%;
  background-color: #FF0000; /* color rojo */
}

.segonaTecla {
  height: 74%;
  background-color: #FF7F00; /* color naranja */
}

.terceraTecla {
  height: 68%;
  background-color: #FFFF00; /* color amarillo */
}

.quartaTecla {
  height: 62%;
  background-color: #00FF00; /* color verde */
}

.cinquenaTecla {
  height: 56%;
  background-color: #00FFFF; /* color cyan */
}

.sisenaTecla {
  height: 50%;
  background-color: #0000FF; /* color azul */
}

.setenaTecla {
  height: 44%;
  background-color: #DF00EF; /* color morado */
}

.vuitenaTecla {
  height: 38%;
  background-color: #FF2190; /* color fucsia */
}

.grow { 
  transition: all .3s ease-in-out; 
}

.grow:hover { 
  transform: scale(1.1); 
}


.papallona {
  position: absolute;
  width: 110px;
  height: 91px;
  transition: all 0.6s ease-out;
  background-image: url('../../imatges/papallona.png');
  animation: animacio-sprite 0.8s steps(7) infinite;
}

.papallonaInvisible {
  display: none;
}

@keyframes animacio-sprite {
  from { background-position: 0px 0px; }
  to { background-position: -700px 0px; }
}


@media only screen and (max-width: 600px) {
  
  .cercle p {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 20px;
  }

  .cercleNotaPrincipal {
    width: 30%;
    top: 19%;
    left: 40%;
    font-size: 35px;
  }  

  .cercleNotaPrincipal p {
    font-size: 30px;
  }

  .cercleNotaSecundaria {
    width: 20%;
    top: 22%;
  }

  .secundaria1 {
    left: 12%;
  }

  .secundaria2 {
    left: 75%;
  }

  .cerclePuntuacio {
    width: 25%;
    right: 3%;
    top: 3%;
  }

  .cerclePuntuacio img {
    aspect-ratio: 1/1;
    height: 50%;
    transform:  translate(5px, 48px) rotate(-70deg);
  }

  .cerclePuntuacioRecord {
    top: 84%;
    width: 22%;
  }

  .cerclePuntuacioRecord p {
    
    font-weight: bold;
  }

  .cerclePuntuacioRecord span {
    font-size: 30px;
  }

  .xilofon {
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    gap: 10px 10px;
    height: 60%;
    top: 62%;
  }

  .tecla {
    width: 20%;
    height: 30%;
  }

  .tecla p {
    font-size: 20px;
  }

  .papallona {
    width: 55px;
    height: 45px;
    background-size: 350px;
    background-image: url('../../imatges/papallona.png');
  }

  .grow:hover { 
    transform: scale(1.05); 
  }

}